.tag-display {
  display: inline-flex;
  padding: 1px 10px;
  border-radius: 25px;
  border: 1px solid #dee2e6;
  margin-right: 5px;
  margin-bottom:5px;
  span {
    margin-right: 10px;
  }

  button {
    font-size:6px;
    align-self:center;
  }
}

.tag-modal-btn {
  align-self: start;
}