<button
  (click)="showTagModal(tagModalTemplate)"
  class="btn btn-default btn-xs tag-modal-btn"
  role="button"
>
  <i class="bi bi-tag"></i>
</button>

<ng-template #tagModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tags</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close"
            (click)="onCloseModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <input
        [(ngModel)]="newTagName"
        type="text"
        class="form-control"
        placeholder="Add tag"
        aria-label="Add tag"
        aria-describedby="add-tag-btn"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="add-tag-btn"
        (click)="createTag()"
        [disabled]="disabled"
      >
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
    <div>
      <div *ngFor="let tag of tags" class="tag-display">
        <span> {{ tag.name}}</span>
        <button type="button" class="btn-close pull-right" aria-label="Close"
                (click)="onClickRemoveTag(tag.id)"></button>
      </div>
    </div>
  </div>
</ng-template>
